*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}


.parent{
    background-color: blue;
    display: flex;
    border: 5px solid purple;
    justify-content: space-between;
    align-items:center;
    font-size: 1.2rem;
    width: 100%;
    max-width: 1300px;
}

.sovit{
    background-color: red;
    display: flex;
    border: 5px solid black;
    justify-content: center;
    align-items: center;
    align-items:center;
    position: relative;
    font-size: 100px;;
    top: 300px;
    left: 150px;
}

#tiger{
    background-color: skyblue;
    display: flex;
    border: 5px solid black;
    justify-content: cente;
    align-items: center;
    align-items:center;
    font-size: 100px;
    position: relative;
    top: 300px;
    left: 300px;
    z-index: 1;
}

.span{
    background-color: green;
    display: flex;
    border: 5px solid black;
    justify-content: center ;
    align-items: center;
    font-size: 100px;
    position: relative;
    top: 500px;
    left: -50px;
}

#lion{
    border: 5px solid yellow;
    background-color: grey;
}

#horse{
    position: relative;
    left: -170px;
}